################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/fgv.ordenacao.livros.api/bin/Debug/net9.0
/src/fgv.ordenacao.livros.api/obj
/src/fgv.ordenacao.livros.application/bin/Debug/net9.0
/src/fgv.ordenacao.livros.application/obj
/src/fgv.ordenacao.livros.domain/bin/Debug/net9.0
/src/fgv.ordenacao.livros.domain/obj
/src/fgv.ordenacao.livros.infrastructure/bin/Debug/net9.0
/src/fgv.ordenacao.livros.infrastructure/obj
/tests/fgv.ordenacao.livros.tests/bin/Debug/net9.0
/tests/fgv.ordenacao.livros.tests/obj
*.user
